body{
    background-color: #42455a;
    font: normal 15pt Arial;
    color: rgba(255, 255, 255, 0.51)
}
header{
    color: rgba(255, 255, 255, 0.51);
    text-align: center;
}
section{
    background: #2E303F;
    border-radius: 18px;
    padding: 15px;
    width: 500px;
    margin: auto; 
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
    
}
footer{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-style: italic;
    
}

table{
    border-collapse: collapse;
    border-color: rgba(0,0,0,.5);
}

th,td{
    padding: 5px;
    border-right: 0px;
    border-left: 0px;
}

th{
    padding: 5px;
    text-align: left;
}

tr:nth-child(even){
    background-color: rgba(0,0,0,.2);
}

tr{background-color: rgba(0,0,0,.1);}


tr:hover{
    background-color: rgba(255,255,255,.1)
}

th{
    background-color:#1C214A ;
}