body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #42455A;
}

.DIVdadosTabela {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-style: italic;
}

#form1 {
    width: 300;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2E303F;
    text-align: center;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,.5);
    border-radius: 15px;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

#form1 input{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #387892;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

#form1 input:focus {
    width: 280px;
    border-color: rgba(255,255,255,.7);
}

#BTNlogin {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #387892;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

#BTNlogin:hover {
    background: #387892;
}